[submodule "src/liblsquic/ls-qpack"]
	path = src/liblsquic/ls-qpack
	url = https://github.com/litespeedtech/ls-qpack
        branch = v0.9.13
[submodule "boringssl"]
	path = boringssl
	url = https://boringssl.googlesource.com/boringssl
	branch = chromium-stable
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent
